flask-mail
pyjwt
werkzeug
wtforms
flask_login
flask-migrate
flask-sqlalchemy
flask-wtf
flask-bootstrap
flask-moment
flask-babel
sqlalchemy-utils
gunicorn
#flask-debugtoolbar
psycopg2
python-dotenv
cryptography