<!--Subtemplate for posts. -->
<table class="table table-hover">
    <tr>
        <!--Author image. -->
        <td width="150px">
            Entry ID:
            <br>
            Posted:
            <br>
            MRN:
            <br>
            CNBPID:
            <br>
            Birth Weight:
            <br>
            Birth Date:
            <br>
            Birth Time:
            <br>
            MRI Date:
            <br>
            MRI Reason:
            <br>
            MRI Age:
            <br>
        </td>

        <!--Author images and post body-->
        <td>
            <a href="{{url_for('entries.data_view', id_entry=entry.id)}}">Entry {{ entry.id }}</a>
            <br>
            {{ moment(entry.timestamp).fromNow() }} on {{ entry.timestamp }}
            <br>
            {{ entry.MRN }}
            <br>
            {{ entry.CNBPID }}
            <br>
            {{ entry.birth_weight }}
            <br>
            {{ entry.birth_date }}
            <br>
            {{ entry.birth_time }}
            <br>
            {{ entry.mri_date }}
            <br>
            {{ entry.mri_reason }}
            <br>
            {{ entry.mri_age }}
            <br>
        </td>
    </tr>
</table>

