{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

    <h1>Hi, {{ current_user.username }}!</h1>


    {% if entries %}
        {% for entry in entries %}
            {% include '_entry.html' %}
        {% endfor %}
    {% endif %}    <!--Loop through all posts and include EACH using the _post subtemplate-->

    <!--Pagination Handle, recall it is from NEWEST to OLDEST-->
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>Newer Entries
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Entries <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

