{% extends "base.html" %}

<!--Login content page-->
{% block content %}

    <h1>Sign In</h1>

    <!--Login Form Block. -->
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <!--Username field-->
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}

            <!--Error display block. -->
            {% for error in form.username.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            <!--Password field-->
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}

            <!--Error dislay block-->
            {% for error in form.password.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>

        <!--Remember checkbox option-->
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>

        <!--Submit button-->
        <p>{{ form.submit() }}</p>

    </form>

    <!--Link for new user registration-->
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>

{% endblock %}